
* {
    margin: 0;
    border: 0;
    padding: 0;
}
@import "~react-image-gallery/styles/css/image-gallery.css";

h1, h2,h3,h4,h5, p, nav, li, a ,button{
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: #252525;
}

header {
    display: flex;
    width: 100%;
    background-color: #ff642ac7;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

header .logo-cn {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
}

header .logo-cn img {
    width: 180px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
}

header nav {
    margin: 20px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 10px;
}

header nav ul li a {
  
    font-size: large;
}
.loadError{text-align: center;
margin: 20px;}
.spinner-cn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 310px;
}
#footer{
    background-color: rgba(51,51,51,.1);
    display: flex;
    flex-direction: column;
    height: 80px;
    font-size: x-small;
    justify-content: center;
}
#footer .footer-cn{
 margin:10px;
}
#footer div ul{
    
    display: flex;
    flex-direction: row;
}
#footer div ul li{
    
    margin: 5px;
}
#footer p{
    
    margin: 5px;
}
